// config file for hv_cns2 NEXTFLOW nextflow

manifest.defaultBranch = 'main'

report {
    enabled = true
    overwrite = true
}

params.threads = 64

//minimum bam coverage to be used in the epi2me-labs/wf-human-variation stages
params.bam_min_coverage = 5

// minimum average sequence coverage through the mgmt promter region
// this required to calculate the methylation status of mgmt and also plot meth data
params.minimum_mgmt_cov = 5

// enable for slurm
//process.executor = 'slurm'

process {
    withName: check_bam_has_meth_data {
        container = 'graefox/rapid_cns2:latest'
    }
    withName: index_input_bam {
        container = 'graefox/rapid_cns2:latest'
    }
    withName: mosdepth {
        container = 'graefox/rapid_cns2:latest'
    }
    withName: human_variation_mods {
        container = null
    }
    withName: human_variation_sv {
        container = null
    }
    withName: human_variation_cnv {
        container = null
    }
    withName: index_subsetted_bam {
        container = 'graefox/rapid_cns2:latest'
    }
    withName: human_variation_snp {
        container = null
    }
    withName: subset_bam_by_bed {
        container = 'graefox/rapid_cns2:latest'
    }
    withName: cnvpytor {
        container = 'graefox/rapid_cns2:latest'
    }
    withName: vcftools {
        container = 'graefox/rapid_cns2:latest'
    }
    withName: gzip {
        container = 'graefox/rapid_cns2:latest'
    }
    withName: bedtools_intersect {
        container = 'graefox/rapid_cns2:latest'
    }
    withName: convert2annovar {
        container = 'graefox/rapid_cns2:latest'
    }
    withName: table_annovar {
        container = 'graefox/rapid_cns2:latest'
    }
    withName: bedtools_intersect2 {
        container = 'graefox/rapid_cns2:latest'
    }
    withName: mgmt_pred {
        container = 'graefox/rapid_cns2:latest'
    }
    withName: meth_classification {
        container = 'graefox/rapid_cns2:latest'
    }
    withName: filter_report {
        container = 'graefox/rapid_cns2:latest'
    }
    withName: make_report {
        container = 'graefox/rapid_cns2:latest'
    }
     withName: draw_mgmt_methylartist {
        container = 'graefox/rapid_cns2:latest'
    }
     withName:  get_wanted_read_ids {
        container = 'graefox/rapid_cns2:latest'
    }
    withName:  add_suppl_alignments_to_subset {
        container = 'graefox/rapid_cns2:latest'
    }
}
docker {
    enabled = true
}
